body {
	background-color:black;
    font-family: 'Bangers', cursive;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 0px;
	min-width: 120px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	float: left;
	width:536 px;
	height: 494px;
}
.hadouken {
	float:right;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 536px;
  height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
	}
.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
	}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
	}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
	}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  top: 160px;
  left: 600px;
  position: absolute;
  z-index: 10;
}
.x, .click {
	    font-family: 'Bangers', cursive;
	    z-index: 1;
}
.x {
	float:left;
}
.click {
	float:right;
}
.title-instruct {
	font-family:Crime Times Six.ttf, sans-serif;
	width: 650px;
    height: 300px;
	display: inline;
	text-align:center;
	z-index: 0;
	position: absolute;
	background-image: url('../images/street-fighter1.png');
	background-repeat: no-repeat;
}